@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluna: @ViewData["Student"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/luiza-teixeira-hage-firme/" target="_blank">linkedin.com/luiza-teixeira-hage-firme</a>
</address>