@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Name"]</p>

<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/luiza-teixeira-hage-firme/" target="_blank">linkedin.com/in/luiza-teixeira-hage-firme</a><br />
    <strong>Github:</strong> <a href="https://github.com/luizahage" target="_blank">github.com/luizahage</a>
</address>
